table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
thead td{
    background-color: black;
    color: white;
}
label {
    display: inline-block;
    width:100px;
    text-align: right;
}
